<div class="container">
	<div class="row">
		<div class="col-md-4" id="logo-container">
			<a href="/#/">
				<img src="img/logo.svg" id="logo" alt="Logo" width="200" height="200">
			</a>
		</div>
		<div class="col-md-8">
			<br><br>
			<h2>Hello! Welcome to codify. <br><span class="lead">All the programming and CS resources you <br class="hidden-xs">can shake a keyboard at.</span></h2>
			<p class="lead">
				<a data-toggle="modal" href="#signup" class="btn btn-primary">Submit Yours!</a>
			</p>
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup modal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Submit a website</h4>
						</div>
						<div class="modal-body">
							<div id="wufoo-qdwd7qt18hm417">
								Fill out my <a href="https://dxdstudio.wufoo.com/forms/qdwd7qt18hm417">online form</a>.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
