<div class="categories-list">
  <div class="container center-for-mobile">
    <div class="row">
      <div class="links-category-container col-md-12">
        <section class="links-category">
          <h3 class="category-title"><strong>All Categories</strong>
            <span class="filter-items">
              <label for="filter">Contains:</label> <input id="filter" ng-model="search.$">
            </span>
          </h3>
          <ul class="list-inline categories-list">
            <li ng-repeat="item in items | filter:search:$">
              <h4 class="item-name">{{ item.name }}</h4>
              <ul class="list-inline tag-list">
                <li class="label" ng-repeat="category in item.categories">{{ category }}</li>
              </ul>
              <strong><a href="{{ item.url }}" target="_blank" title="{{ item.name }}" class="btn btn-primary btn-block">Visit</a></strong>
            </li>
          </ul>
          <div class="clearfix"></div>
        </section>
      </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col-md-10">
      <h3 class="category-title">Other awesome aggregations</h3>
      <div class="list-group">
        <a href="http://programming-motherfucker.com">
          <h4 class="list-group-item-heading">Programming, Motherfucker</h4>
          <p class="list-group-item-text">An awesome list of lists, all categorized by language or use.</p>
        </a>
        <a href="http://programmingworkout.com">
          <h4 class="list-group-item-heading">Programming Workout</h4>
          <p class="list-group-item-text">Get ripped brah, with these killer mental exercises.</p>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <a data-toggle="modal" href="#signup" class="btn btn-block btn-large btn-primary">Add Yours!</a>
    </div>
  </div>
</section>
